$fixed-padding : 10px;
$circle-size : 50px;
.cover{
   
   height: 250px;

   .story-line{
    width : 2px;
    background : black;
    position : fixed;
    top:0;  
    z-index: 2001;
  }

  .his-line{
    @extend .story-line;
    height : 50px;
    margin-left : 75px;
  }

  .her-line{
    @extend .story-line;
    height : 175px;
    margin-left : 175px;
  }

  .their-line{
    @extend .story-line;
    height : 95px;
    margin-left : 300px;
  }

  .invite-line{
    @extend .story-line;
    height : 225px;
    margin-left : 400px;
  }

  .story{
    width : $circle-size;
    border-radius : 50%;
    height :$circle-size;
    position:fixed;
    text-align : center; 
    line-height : $circle-size; 
    z-index: 2001;
    opacity: 0.9;
    color : white;
    font-size: 15px;
    font-weight: 600;
    text-decoration: normal;
     > a  > i{
        font-size : 20px;
      }
  }

  .his-story{
    @extend .story;
    background : #4da8df;
    background: linear-gradient(to right, white, #4da8df);
    top:$fixed-padding;
    left:$fixed-padding;
    > a {
      color: darkblue;
    }
  }

  .her-story{
    @extend .story;
    background : #80af07;
    background: linear-gradient(to right, white, #80af07);    
    top:$fixed-padding;
    right : $fixed-padding;
    > a {
      color: darkgreen;
    }
  }

.their-story{
  @extend .story;  
  background : #b9b9b9;
  background: linear-gradient(to right, white,pink);      
  bottom:18px;
  left : $fixed-padding;
  > a {
      color: red;
    }
  > a  > i{
      font-size : 22px;
    }
}

  .invite-story{
    @extend .story;      
    background : #2d83bc;
    background: linear-gradient(to right, white, pink);          
    bottom:$fixed-padding;
    right : $fixed-padding;
    > a {
      color: brown;
    }
  }

  .hanging-light{

    :hover{
      opacity: 0.9;
      box-shadow: 2px 10px 10px black; 
    }
  }
}


.note {
  width: 16em;
  min-height: 10em;
  background: #f8de59;
  position: fixed;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.8));
  transform: rotate(7deg) translateX(-50%);
  top: 40px;
  right: 2%;

    .noteText {
      font: italic 1.6em Georgia, Times, serif;
      background: transparent;
      width: 8.4em;
      height: 5.8em;
      margin: 20% 0.8em 0 0.8em;
      padding: 0;
      border: 0;
      overflow: hidden;
      letter-spacing: -1px;
      outline-style: none;
      resize: none;
    }
}
.note:before {
  content: "";
  position: absolute;
  right: 2em;
  bottom: -2em;
  left: 0;
  border: 1em solid #f8de59;
  z-index: -1;
}
.note:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2em;
  border-width: 2em 2em 0 0;
  border-style: solid;
  border-color: #d69722 transparent;
  filter: drop-shadow(-4px 5px 9px rgba(0, 0, 0, 0.5));
}


