.cover{

   height: 250px;

   .story-line{
    width : 2px;
    background : gray;
    position : fixed;
    top:0;  
    z-index: 2001;
  }

  .his-line{
    @extend .story-line;
    height : 50px;
    margin-left : 75px;
  }

  .her-line{
    @extend .story-line;
    height : 175px;
    margin-left : 175px;
  }

  .their-line{
    @extend .story-line;
    height : 95px;
    margin-left : 300px;
  }

  .invite-line{
    @extend .story-line;
    height : 225px;
    margin-left : 400px;
  }

  .story{
    width : 150px;
    border-radius : 50%;
    height :150px;
    position:fixed;
    text-align : center; 
    line-height : 150px; 
    z-index: 2001;
    box-shadow: 2px 10px 10px #888888;
    opacity: 0.9;

  }

  .his-story{
    @extend .story;
    background : pink;
    margin-left : 0px;
    top:50px;
  }

  .her-story{
    @extend .story;
    background : blue;
    margin-left : 100px;
    top:175px;
  }

.their-story{
  @extend .story;  
  background : yellow;
  margin-left : 230px;
  top:95px;
}

  .invite-story{
    @extend .story;      
    background : green;
    margin-left : 330px;
    top:225px;
  }

  .hanging-light{
    display : inline-block;

    :hover{
      opacity: 0.9;
      box-shadow: 2px 10px 10px black; 
    }
  }
}