
#tile {
  width: 300px;
  height: 96px;
  margin: auto;
  background-color: #fff;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(224,229,240);
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}

#reporting-icon {
  float: left;
  margin: 25px;
}

#line-vr {
  float: left;
  width: 1px;
  height: 96px;
  background-color: #e7e7e7;
}


#header-text {
  display:block;
  margin-top: 25px;
  margin-left: 125px;
  display:block;
  font: 20px/24px Helvetica Neue LT Com, sans-serif;
}

#arrow-icon {
  float: left;
  width: 16px;
  height: 16px;
  margin-top: 5px;
  margin-left: 25px;
}

#text {
  float: left;
  margin-top: -8px;
}

p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #404040;
}

.text-link {
  font: 14px/45px Helvetica Neue LT Com, sans-serif;
  text-decoration: none;
  color: #0369b1;
  margin-left: 10px;
}

.text-link:hover {  
  text-decoration: underline;
}